*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}
a:link{color: #DFDFDF;}
a:visited{color: #DFDFDF;}
a:hover{color: #EF8C15;}
a:active{color: #DFDFDF;}

header{
    background-color: #171717;
    height: 66px;
    text-align: center;
}
header a{
    margin-top: 17px;
}
nav{
    background-color: #171717;

    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
}
nav ul{
    width: 774px;
    height: 57px;
    display: flex;
    justify-content: space-between;
}
nav ul a{
    font-size: 15px;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal; 
    display: block;
    margin-top: 11px;
}

.tit{
    width: 100%;
    height: 814px;
    background-image: url(img/s1.png);
    background-position-x: center;
    background-repeat: no-repeat;
}
.box1{
    width: 100%;
    height: 1133px;
    background-image: url(img/s2.png);
    background-position-x: center;
    background-repeat: no-repeat;
}
.box2{
    width: 100%;
    height: 900px;
    background-image: url(img/s3.png);
    background-position-x: center;
    background-repeat: no-repeat;
}.box3{
    width: 100%;
    height: 900px;
    background-image: url(img/s4.png);
    background-position-x: center;
    background-repeat: no-repeat;
}

.sub1{
    width: 1009px;
    height: 1133px;
    margin: 0 auto;
}
.sub2{
    width: 1009px;
    height: 900px;
    margin: 0 auto;
}.sub3{
    width: 1009px;
    height: 900px;
    margin: 0 auto;
}

.txt1{
    font-size: 50px;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    padding-top: 260px;
    margin-bottom: 50px;
}
.txt2{
    font-size: 16px;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 30px;
    color: #ffffff;
    margin-bottom: 40px;
}
.txt3{
    font-size: 20px;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 40px;

}
.txt4{
    font-size: 50px;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #171717;
    padding-top: 260px;
    margin-bottom: 50px;
}
.txt5{
    font-size: 16px;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-style: normal;
    line-height: 40px;
    color: #171717;
    margin-bottom: 40px;
}
.txt6{
    font-size: 50px;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 700;
    font-style: normal;
    color: #ffffff;
    padding-top: 260px;
    margin-bottom: 50px;
}
.txt7{
    font-size: 16px;
    letter-spacing: -0.4px;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 40px;
    color: #ffffff;
    margin-bottom: 40px;
}


.box{
    background-color: #171717;
    width: 100%;
    height: 130px;
    color: #8D8D8D;
    margin: 0 auto;
    text-align: center;
    padding-top: 30px;
}

.f2{
    margin-top: 20px;
}